*{
  box-sizing: border-box;
}

.calculator{
  
  padding: 20px;  
  width: 280px;
  border: 3px solid rgb(172, 172, 172);
  border-radius: 15px;
  margin: 100px auto;  
  background: linear-gradient(0deg, rgba(199, 199, 199, 1) 0%, rgba(172, 172, 172, 1) 50%, rgba(220, 219, 233, 1) 100%);

}

.buttons{
  border-spacing: 5px;
  margin: auto;
}

.input{
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(161, 161, 161);
  background: rgb(211, 211, 211);
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  font-size: 28px;
  outline: none; 
}

.button{
  outline: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(199, 199, 199, 1) 0%, rgba(172, 172, 172, 1) 50%, rgba(220, 219, 233, 1) 100%);
}

.colspan{
  width: 110px;

}